<h1>Blog</h1>
<div class="contact-info">
  <p>Eventually, I'll be posting here with random musings on data driven observations from the NCAA season... For now, I'm focused on getting the site up and running. In the meantime, you can hear what I have to say by following me
  on twitter using the button below. Hopefully by the spring, I'll have some useful posts here to explain what I'm seeing in the stats.</p>
  <a href="https://twitter.com/prophetcbb?ref_src=twsrc%5Etfw" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @prophetcbb</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>