<h1>Contact</h1>
<div class="contact-info">
  <p>Feel free to email me with any questions at <%= mail_to 'zstearman@prophetratings.com' %>. The 2019-2020 season is somewhat of a test run for my algorithm. I still intend for it to be informative, but certainly there will be some tweaking
  as the season goes along. I'll be active on twitter all season of course. The best place to get info from my stats is via my twitter. Follow me using the button below.</p>
  <a href="https://twitter.com/prophetcbb?ref_src=twsrc%5Etfw" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @prophetcbb</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>