<%= image_tag("Prophet_Logo_Dark.png", width: '150', alt: 'Prophet Ratings') %>

<p>Hey <%= @admin.first_name %>, </p>

<p>A new user has signed up for the site! Their email is : <%= @user.email %></p>
