<% provide(:title, 'Edit Post') %>
<% provide(:button_text, 'Edit Post') %>

<h1>Create New Post</h1>
<div class="col-xs-12 new-blog-container row">
  <div class="new-blog-inner-container">
    <%= render 'form', blog_post: @blog_post %>
  </div>
</div>
