@import "base/variables.scss"; 

/* header */
.navbar-inverse{
  background-image: linear-gradient(-120deg, rgba(0,0,0,0), 90%, rgba(225,225,225,1));
  background-color: $prophet-blue;
  border-bottom: none;
  #logo {
    float: left;
  }
}

body {
 padding-top: 60px; 
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  .social-icons{
    text-align: center;
    font-size: 2em;
    a i{
      color: $prophet-blue;
    }
  }
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

form{
  .field{
    margin-bottom: 5px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* tables */

.table-sm {
  td {
    padding: 4px !important;
  }
  th {
    padding: 4px !important;
  }
}

.table-xs {
  td {
    padding: 1px !important;
  }
  th {
    padding: 1px !important;
  }
}

.table {
  .center {
    text-align: center !important;
  }
}


/* debugger */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* body */

.container{
  width: 80% !important;
}

.center{
  margin: auto;
  text-align: center;
}

.align-right{
  float: right;
}