@import "base/variables.scss";

.new-blog-container{
  background-color: $prophet-light-grey;
  padding: 0;
  .new-blog-inner-container{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    #blog_post_published{
      margin: 5px 5px;
    }
    trix-editor{
      margin-bottom: 10px;
      height: 800px !important;
      overflow-y: auto;
    }
  }
}

.blog-container{
  background-color: $prophet-light-grey;
  margin: 20px 0px;
  padding: 0px;
  @media (min-width: 1200px) {
    padding: 0px 15px;
  }
  p{
    padding-top: 10px;
    margin-bottom: 0px;
    a{
      font-size: 18px;
    }
  }
  .blog-inner-container{
    background-color: white;
    padding: 0px;
    text-align: justify;
    @media (min-width: 1200px) {
      border-radius: 10px;
      margin: 15px 0px;
      padding: 0px 15px;
    }
    .post-title{
      h1{
        font-size: 36px;
        font-weight: 600;
      }
    }
    .post-body{
      font-size: 16px;
      h3 {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .post-container{
      padding-top: 5px;
      border-bottom: 2px solid $prophet-light-grey;
      #post_title{
        font-size: 28px;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .blog-preview{
      p{
        a{
          font-size: 14px;
        }
      }
    }
    .blog-thumbnail{
      position: relative;
      height: 250px;
      line-height: 250px;
      text-align: center;
      img{
        margin: auto;
        max-width: 100%;
        max-height: 250px;
        vertical-align: middle;
      }
    }
    .post-title{
      border-bottom: 2px solid $prophet-light-grey;
    }
    .post-body{
      padding: 10px 0px 20px;
      img{
        max-height: 500px;
        max-width: 100%;
        display: block;
        margin: auto;
      }
      #subhead{
        font-weight: bold;
      }
      #tags{
        font-style: italic;
        margin-top: 10px;
      }
    }
  }
}