@media (min-width: 1200px) {
  .right-brackets{
    text-align: right;
  }
  .round-two{
    td{
      padding-top: 25px !important;
    }
  }
  .round-three{
    td{
      padding-top: 65px !important;
    }
  }
  .round-four{
    td{
      padding-top: 150px !important;
    }
  }
  .tourney-simulation{
    td{
      font-size: 0.9em !important;
    }
  }
}