/* show.html.erb */

.box-score{
  .team-logo{
    img{
      padding-top: 10px;
      width: 80%;
      min-width: 30px;
    }
  }
  .game-status{
    margin-top: 20px;
  }
  .away-team-banner{
    text-align: right;
  }
  .game-details{
    font-weight: bold;
  }
  .banner-score-box{
    padding: 0;
    .away-score{
      padding: 0;
    }
    .home-score{
      padding: 0;
      text-align: right;
    }
  }
  .box-score-row{
    font-size: 0.9em;
    thead{
      font-size: 0.85em;
    }
    .total-row{
      font-weight: bold;
    }
  }
  .advanced-stats{
    .left-column{
      padding-left: 0;
    }
    .right-column{
      padding-right: 0;
    }
  }
}