@import "base/variables.scss";

.prediction-container{
  background-color: $prophet-light-grey;
  .prediction-details{
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    h3{
      text-align: center;
      @media (min-width: 1200px) {
        text-align: left;
      }
    }
  }
  h1{
    font-size: 1.7em;
    text-align: center;
    @media (min-width: 1200px) {
      font-size: 2.5em;
      text-align: left;
    }
  }
  h4{
    text-align: center;
      @media (min-width: 1200px) {
        text-align: left;
      }
    a{
      padding-left: 10px;
      font-size: 0.8em;
      @media (min-width: 1200px) {
        font-size: 1.0em;
      }
    }
  }
}