@import "base/variables.scss";

.prediction-container{
  background-color: $prophet-light-grey;
  .prediction-details{
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey
  }
}