.prediction-container{
  padding: 5px;
  .form-group{
    padding: 10px 0px;
    text-align: center;
    @media (min-width: 1200px) {
     text-align: left; 
    }
    label{
      width: 100%;
    }
  }
  button{
    margin-bottom: 5px;
  }
}