@import "base/variables.scss"; 

/* Home Page */

.home-body {
  margin: 0px -12%;
  #signup-banner{
    position: relative;
    background-image: linear-gradient(90deg, rgba(225,225,225,0.65), 10%, rgba(250,250,250,1));
    background-color: $prophet-blue;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: -10px auto;
    height: 900px;
    @media (min-width: 1200px) {
      height: 500px;
    }
    padding-top: 50px;
    .banner-art{
      text-align: center;
      @media (min-width: 1200px) {
        padding-top: 25px;
      }
      img{
        width: 350px;
        max-width: 80%;
      }
    }
    .banner-text{
      margin: auto;
      text-align: center;
      @media (min-width: 1200px) {
        text-align: right;
      }
      padding: 10px 50px;
      height: 500px;
      h1 {
        color: $prophet-blue;
        font-size: 2.0em;
        font-weight: bold;
        margin-bottom: 50px;
        @media (min-width: 992px) {
          font-size: 3.0em;
        }
      }
      p{
        color: $prophet-blue;
        font-size: 1.25em;
      }
      .btn{
        margin-top: 50px;
      }
    }
  }
}

/* Dashboard */

.dashboard-blog{
  padding: 0px;
  @media (min-width: 1200px) {
   padding: 0px 15px; 
  }
  .blog-container{
    padding: 0px 15px;
    .blog-inner-container{
      border-radius: 10px;
      margin: 15px 0px;
      padding: 0px 15px;
    }
  }
}