.signup-banner{
  border-radius: 5px;
  background-color: #3338D1;
  color: white;
  padding: 5px;
  p{
    margin: 0px;
    font-size: 1.25em;
    a{
      color: white;
      text-decoration: underline;
      font-size: 1.15em;
    }
  }
}