<div class="row">
  <div class="errors-container">
    <h1>Whoops, it looks like this page doesn't exist!</h1>
    <h3>Please use the header links to get back to safety!</h3>
    <%= image_tag "large_basketball.png" %>
  </div>
</div>