<div class="row">
  <div class="errors-container col-md-8 col-md-offset-2">
    <h1>Hmmm, well that's an error.</h1>
    <h3>It looks like you've submitted an illegal request. Sorry about that.
    Please use the links in the header to navigate back to safety!</h3>
    <%= image_tag "large_basketball.png" %>
  </div>
</div>