<footer class="footer">
  <div class="col-xs-4">
    <small>
      <%= "\u00A9" + " ProphetRatings " + Time.now.year.to_s %>
    </small>
  </div>

  <div class="col-xs-4 social-icons">
    <a href="https://twitter.com/prophetcbb"><i class="fab fa-twitter" ></i></a>
  </div>
  <div class="col-xs-4">
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Blog",    blog_path %></li>
      </ul>
    </nav>
  </div>
</footer>